!<thin>
//                                              56        `
../../../../../framework/model/${module_lower_case}/${module_lower_case}.o/
/0              0           0     0     644     1912      `